*
!.gitignore

!.zshrc
!README.md

!.config/

!.config/borders/
!.config/borders/**

!.config/btop/
!.config/btop/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/ghostty/
!.config/ghostty/**

!.config/hypr/
!.config/hypr/**

!.config/nvim/
!.config/nvim/**

!.config/waybar/
!.config/waybar/**
