*
!.gitignore

!.zshrc

!.config/

!.config/borders/
!.config/borders/**

!.config/btop/
!.config/btop/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/ghostty/
!.config/ghostty/**

!.config/nvim/
!.config/nvim/**

!.config/sketchybar/
!.config/sketchybar/**

!.config/skhd/
!.config/skhd/**

!.config/yabai/
!.config/yabai/**
